{% load static %}
<!doctype html>
<html class="no-js" lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>BPA Social</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Favicon -->
        <link rel="shortcut icon" href="favicon.ico">
        <!-- Bootstrap -->
        <link rel="stylesheet" href="static/css/vendor/bootstrap.min.css">
        <!-- Fonts -->


<!-- Displaying boxes -->
        <link rel="stylesheet" href="static/css/schedule.css"> 



<!-- Displaying images as a slideshow -->

  <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css"> -->
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Open+Sans%3A400%2C400italic%2C600%2C700%2C700italic%7COswald%3A400%2C300%7CVollkorn%3A400%2C400italic'>

<link rel="stylesheet" href="static/css/slideshow.css">

<!-- Displaying social media icons  -->
<script src="https://kit.fontawesome.com/d215eb8e6e.js" crossorigin="anonymous"></script>



        <!-- Bpa Social CSS -->
        <link rel="stylesheet" href="static/css/main.css">
        <!-- <link rel="stylesheet" href="static/css/responsive.css"> -->

        <!-- JS -->
        <script src="static/js/vendor/modernizr-2.8.3.min.js"></script>
    </head>
    <body id="page-top" data-spy="scroll" data-target=".navbar">
        
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->


        <!-- ========== Preloader ========== -->

        <div class="preloader">
          <img src="static/images/loader.svg" alt="Loading...">
        </div>





<!--===============================================================================================-->
    <!-- <link rel="stylesheet" type="text/css" href="static/css/vendor/bootstrap/css/bootstrap.min.css"> -->
<!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="static/css/vendor/animate/animate.css">
<!--===============================================================================================-->  
    <link rel="stylesheet" type="text/css" href="static/css/vendor/css-hamburgers/hamburgers.min.css">
<!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="static/css/vendor/select2/select2.min.css">
<!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="static/css/login_util.css">
    <link rel="stylesheet" type="text/css" href="static/css/login.css">
<!--===============================================================================================-->










        <!-- ========== Navigation ========== -->

        <nav class="navbar navbar-default navbar-fixed-top mega navbar-trans navbar-fw" style="background-color: white; opacity:90%;">
          <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <!-- Logo -->
            <a class="navbar-brand" href="index.html"><img class="navbar-logo" src="http://res.cloudinary.com/hfg9s7ggn/image/upload/v1674747697/z946u5burtjf3lltfcop.png" alt="BpaSocial - Logo" style="margin-top: -25px; height: 70px;"></a>
          </div>

          <!-- Navbar Links -->
<style type="text/css">
  
.my_class{


/*font-weight: 700 !important;*/
color: black !important;


}

.body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif
}

.simpletext{
    margin-left: 10%;
    font-family: Arial, Helvetica, sans-serif;

}


.column-image {
  margin-left: 5%;
  margin-bottom: 5%;
  float: left;
  width: 65%;
  padding: 10px;
  height: 450px;

}

.column-text {
  float:left;
  width: 20%;
  padding: 10px;

}


.row:after {
  content: "";
  display: table;
  clear: both;
}


</style>


          <div id="navbar" class="navbar-collapse collapse page-scroll navbar-right" style="background-color: white;">
            
            <ul class="nav navbar-nav">

              <li><a href="index.html"class="my_class">Home<span class="sr-only"></span></a></li>
    
              <li><a href="browse.html"class="my_class">Browse<span class="sr-only"></span></a></li>

              <li><a href="create.html"class="my_class">Post<span class="sr-only"></span></a></li>

              {% if user.is_authenticated %}
              <li><a href="my_profile.html" class="my_class">My Profile<span class="sr-only"></span></a></li>
          {% endif %}



                 <!-- More dropdown -->
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle my_class" data-toggle="dropdown" data-hover="dropdown" data-delay="350" role="button" aria-haspopup="true" aria-expanded="false" >More <span class="caret"></span></a>
                  <ul class="dropdown-menu" style="margin-right: 80px; margin-top: -2px;">


               <li><a href="blogs.html"class="my_class">Blogs<span class="sr-only"></span></a></li>

              <li><a href="about_us.html"class="my_class">About Us<span class="sr-only"></span></a></li>


                  </ul>
                </li><!-- / Blog -->

              <!-- <li><a href="about_us.html"class="my_class">About Us<span class="sr-only"></span></a></li> -->

              <!-- <li><a href="inventory.html"class="my_class">Inventory<span class="sr-only"></span></a></li> -->


              {% if user.is_authenticated %}
              <li><a href="logout.html" class="my_class">Logout<span class="sr-only"></span></a></li>

              {% else %}
              <li><a href="login.html" class="my_class">Login<span class="sr-only"></span></a></li>
              {% endif %}

            </ul><!-- / .nav .navbar-nav -->           
          </div><!--/.navbar-collapse --></div>
        </nav><!-- / .navbar -->














 <!-- Put code for website here -->







    

    <div class="limiter">
        <div class="container-login100" style="margin-top: 80px;">
            <div class="wrap-login100" >
                <div class="login100-pic js-tilt" data-tilt>
                    <img src="static/images/img-01.png" alt="IMG">
                </div>

                <form class="login100-form validate-form" action="" method = POST enctype="multipart/form-data">
                	{% csrf_token %}


                	
                    <span class="login100-form-title">
                        Member Login
                    </span>



              <!-- <form action="" method = POST enctype="multipart/form-data"> -->
               


                    <div class="wrap-input100 validate-input">
                        <input class="input100" type="text"  name='username' placeholder="Username">
                        <span class="focus-input100"></span>
                        <span class="symbol-input100">
                            <i class="fa fa-user" aria-hidden="true"></i>
                        </span>
                    </div>


                    <div class="wrap-input100 validate-input" data-validate = "Password is required">



                        <input class="input100" type="password" name='password' placeholder="Password">
                        <span class="focus-input100"></span>
                        <span class="symbol-input100">
                            <i class="fa fa-lock" aria-hidden="true"></i>
                        </span>
                    </div>
                    
                    <div class="container-login100-form-btn">
                        <button class="login100-form-btn" type = "submit">
                            Login
                        </button>
                 
                    </div>

                    <div class="text-center p-t-12" style="margin-left: auto; margin-right:-5px; margin-top: 10px;">
                        <span class="txt1"><a href = "register.html">
                            Create an account
                        </a>
                    </div>

<!--                     <div class="text-center p-t-136">
                        <a class="txt2" href="#">
                            Create your Account
                            <i class="fa fa-long-arrow-right m-l-5" aria-hidden="true"></i>
                        </a>
                    </div> -->
                </form>
            </div>
        </div>
    </div>
    
    








        <!-- ========== Scripts ========== -->

        <script src="static/js/vendor/jquery-2.1.4.min.js"></script>
        <script src="static/js/vendor/google-fonts.js"></script>


        <script src="static/js/vendor/bootstrap.min.js"></script>


        <!-- The main JS stuff -->
        <script src="static/js/main.js"></script>



<script src="https://use.fontawesome.com/releases/v5.15.4/js/all.js"></script>



<script type="text/javascript">
  
const favoriteButtons = document.querySelectorAll(".favorite-button");
favoriteButtons.forEach((button) => {
  button.addEventListener("click", (event) => {
    event.currentTarget.classList.toggle("is-favorite");
  });
});

  
</script>




<!--===============================================================================================-->  
    <script src="static/css/vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
    <script src="static/css/vendor/bootstrap/js/popper.js"></script>
    <script src="static/css/vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
    <script src="static/css/vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
    <script src="static/css/vendor/tilt/tilt.jquery.min.js"></script>
    <script >
        $('.js-tilt').tilt({
            scale: 1.1
        })
    </script>
<!--===============================================================================================-->
    <script src="static/js/login.js"></script>







<!-- Slideshow JS -->


  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/gsap/1.19.1/TweenMax.min.js'></script><script  src="static/js/slideshow.js"></script>


    </body>
</html>
