{% load static %}
<!doctype html>
<html class="no-js" lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>BPA Social</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Favicon -->
        <link rel="shortcut icon" href="favicon.ico">
        <!-- Bootstrap -->
        <link rel="stylesheet" href="static/css/vendor/bootstrap.min.css">
        <!-- Fonts -->


<!-- Displaying boxes -->
        <link rel="stylesheet" href="static/css/schedule.css"> 



<!-- Displaying images as a slideshow -->

  <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css"> -->
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Open+Sans%3A400%2C400italic%2C600%2C700%2C700italic%7COswald%3A400%2C300%7CVollkorn%3A400%2C400italic'>

<link rel="stylesheet" href="static/css/slideshow.css">

<!-- Displaying social media icons  -->
<script src="https://kit.fontawesome.com/d215eb8e6e.js" crossorigin="anonymous"></script>



        <!-- Bpa Social CSS -->
        <link rel="stylesheet" href="static/css/main.css">
        <!-- <link rel="stylesheet" href="static/css/responsive.css"> -->

        <!-- JS -->
        <script src="static/js/vendor/modernizr-2.8.3.min.js"></script>
    </head>
    <body id="page-top" data-spy="scroll" data-target=".navbar">
        
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->


        <!-- ========== Preloader ========== -->

        <div class="preloader">
          <img src="static/images/loader.svg" alt="Loading...">
        </div>



        <!-- ========== Navigation ========== -->

        <nav class="navbar navbar-default navbar-fixed-top mega navbar-trans navbar-fw" style="background-color: white; opacity:90%;">
          <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <!-- Logo -->
            <a class="navbar-brand" href="index.html"><img class="navbar-logo" src="http://res.cloudinary.com/hfg9s7ggn/image/upload/v1674747697/z946u5burtjf3lltfcop.png" alt="BPA Social - Logo" style="margin-top: -25px; height: 70px;"></a>
          </div>

          <!-- Navbar Links -->
<style type="text/css">
  
.my_class{


/*font-weight: 700 !important;*/
color: black !important;


}

.body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif
}

.simpletext{
    margin-left: 10%;
    font-family: Arial, Helvetica, sans-serif;

}


.column-image {
  margin-left: 5%;
  margin-bottom: 5%;
  float: left;
  width: 65%;
  padding: 10px;
  height: 450px;

}

.column-text {
  float:left;
  width: 20%;
  padding: 10px;

}


.row:after {
  content: "";
  display: table;
  clear: both;
}

.modal{

display: block;   
position: fixed;
margin-left: auto;
margin-right: auto;
margin-top: 100px;


z-index: 10;

width: 630px; 
height: 450px;
box-shadow: 1px 1px 5px; 
border-radius: 10px; 
/*visibility: hidden;*/


}

</style>


          <div id="navbar" class="navbar-collapse collapse page-scroll navbar-right" style="background-color: white;">
            
            <ul class="nav navbar-nav">

              <li><a href="index.html"class="my_class">Home<span class="sr-only"></span></a></li>
    
              <li><a href="browse.html"class="my_class">Browse<span class="sr-only"></span></a></li>

              <li><a href="create.html"class="my_class">Post<span class="sr-only"></span></a></li>

              {% if user.is_authenticated %}
              <li><a href="my_profile.html" class="my_class">My Profile<span class="sr-only"></span></a></li>
          {% endif %}



                 <!-- More dropdown -->
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle my_class" data-toggle="dropdown" data-hover="dropdown" data-delay="350" role="button" aria-haspopup="true" aria-expanded="false" >More <span class="caret"></span></a>
                  <ul class="dropdown-menu" style="margin-right: 80px; margin-top: -2px;">


               <li><a href="blogs.html"class="my_class">Blogs<span class="sr-only"></span></a></li>

              <li><a href="about_us.html"class="my_class">About Us<span class="sr-only"></span></a></li>


                  </ul>
                </li><!-- / Blog -->

              <!-- <li><a href="about_us.html"class="my_class">About Us<span class="sr-only"></span></a></li> -->

              <!-- <li><a href="inventory.html"class="my_class">Inventory<span class="sr-only"></span></a></li> -->


              {% if user.is_authenticated %}
              <li><a href="logout.html" class="my_class">Logout<span class="sr-only"></span></a></li>

              {% else %}
              <li><a href="login.html" class="my_class">Login<span class="sr-only"></span></a></li>
              {% endif %}

            </ul><!-- / .nav .navbar-nav -->           
          </div><!--/.navbar-collapse --></div>
        </nav><!-- / .navbar -->














 <!-- Put code for website here -->




<style type="text/css">
    
.scrolling-box {

  display: block;

  height: 470px;
  padding: 1em;
  overflow-y: scroll;
  text-align: center;
}

section {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

</style>








<!-- Put text content stuff here -->





<div class="testimonial-box no-hover" 
style=" display: block; margin-left: auto; margin-right: auto; width: 1100px; height: 500px; margin-top: 80px; box-shadow: 1px 1px 5px; border-radius: 10px;   display: flex;
  align-items: center;
  justify-content: center;">

    {%if e.text_content %}



<div class="testimonial-box" 
style=" display: block; width: 450px; height: auto; box-shadow: 1px 1px 5px; border-radius: 10px; border-radius:20px; float:left; margin-left: 0px; max-height: 450px !important;">


<!-- <div style="margin-top: -20px;"> -->
                        <div class="profile-img">
                            <img src="{{e.user.userprofile.profile_pic}}" /> 
                        </div>

<div>
<h3 style="font-weight: bold; float: left; margin-left: 60px; margin-top:-45px; max-width: 50px; text-transform: none; letter-spacing: 1px;">@{{e.user.username}}</h3>
<h5 style="float: left; margin-left: 65px; margin-top: -20px; color: black;"> {{e.created_at|date:"F j, Y" }} </h5> 

</div>


<div style="font-size: 24px; color: black; font-family: sans-serif; text-align: left; line-height: 1.4;  word-wrap: break-word; ">
<br>
{{e.text_content|linebreaksbr|truncatechars:300 }}

</div>
<a href = "post_detailed.html?id={{e.id}}">
<h5 style="margin-top: 35px;  text-transform: none; text-align: left; word-spacing: auto;"></h5>
</a>
<h5 style="margin-top: -25px;  text-transform: none; text-align: right; word-spacing: auto; margin-right: 30px">{{e.likes}} Likes </h5>


<button type="button" class="favorite-button" style="margin-top: -30px; float:right; margin-right:20px">
  <i class="fas fa-heart favorite__icon favorite--enable"></i>
  <i class="far fa-heart favorite__icon favorite--not"></i></button>


</div>

</a>








<!-- <h3> Comments </h3> -->

<!-- Comment section for tweets -->










<!-- End of testimonial box -->






{% else %}


<!-- Post pictures and videos instead -->





    <div class="slider" style="width: 450px; height: 430px; margin-top: 20px; border-radius:20px; float:left; margin-left: 0px;">


{%if e.image1 %}
      <div class="slide">
            <img src="{{e.image1}}" alt="Photo1"/>
        </div>
{% endif %}



{%if e.image2 %}
      <div class="slide">
            <img src="{{e.image2}}" alt="Photo2"/>
        </div> 
{% endif %}


{%if e.image3 %}
      <div class="slide">
            <img src="{{e.image3}}" alt="Photo3"/>
        </div>
{% endif %}


{%if e.image4 %}
      <div class="slide">
            <img src="{{e.image4}}" alt="Photo4"/>
        </div> 
{% endif %}


{%if e.image5 %}
      <div class="slide">
            <img src="{{e.image5}}" alt="Photo5"/>
        </div> 
{% endif %}



        
{%if e.image2 %} <!-- If there is more than 1 image  -->

        <!-- Left and Right buttons -->

        <button class="btn-slide prev"><i class="fas fa-3x fa-chevron-circle-left"></i></button>
        <button class="btn-slide next"><i class="fas fa-3x fa-chevron-circle-right"></i></button>
{% endif %}
    </div>










  <!-- Slider dots -->
    <div class="dots-container" name = "dots-container{{forloop.counter}}" style="display: none;">





{%if e.image1 %}
            <span class="dot active" data-slide="0" style="width:450px"></span>
{% endif %}





      
    </div>



<!-- Comments -->

<!-- <h3 style="text-align: right ;"> Comments </h3> -->














{% endif %}


{% if no_comments %}

<div style="text-align:center; margin-top: 150px;">

<h1> No comments yet :/<br><br> try <a href = "javascript:void(0);" onclick="showModal()"> creating a comment </a> first</h1>

</div>




<script type="text/javascript">
    
function showModal() {
  document.querySelector('.testimonial-box.modal').style.display = 'block'
}

</script>


{% else %}

<div class="scrolling-box" style = " float:right; margin-top:-10px">


<div style="text-align: center; margin-top:-15px"> <h3> Comments </h3> </div>

{% for e in comments %}

<div class="testimonial-box" 
style=" display: block;   margin-left: auto;  width: 530px; height: auto; margin-top: 20px; box-shadow: 1px 1px 5px; border-radius: 10px; ">



                        <div class="profile-img">
                            <img src="{{e.user.userprofile.profile_pic}}" /> 
                        </div>




<div>


<h3 style="font-weight: bold; float: left; margin-left: 60px; margin-top:-45px; max-width: 50px; text-transform: none; letter-spacing: 1px;">@{{e.user.username}}</h3>
<h5 style="float: left; margin-left: 65px; margin-top: -20px; color: black;"> {{e.created_at|date:"F j, Y" }} </h5> 
 

</div>

<div style="font-size: 20px; color: black; font-family: sans-serif; text-align: left; line-height: 1.4; word-wrap: break-word;  ">
<br>
{{e.comment_text|linebreaksbr }}

</div>
 

<h5 style="margin-top: -5px;  text-transform: none; text-align: right; word-spacing: auto; margin-right: 10px">

    <i style="font-size:18px" class="fa fa-reply" aria-hidden="true" onclick="document.querySelector('.testimonial-box.modal').style.display = 'block'"></i>




</h5>





</div>

{% endfor %}


<!-- End of scrolling divs inside another div -->
</div>



{% endif %}






<!-- End of testimonial box -->
</div>














</form>







<!-- End of pictures partial -->







<!-- JS for sliding the images -->


<script>
function Slider() {
    const carouselSlides = document.querySelectorAll('.slide');
    const btnPrev = document.querySelector('.prev');
    const btnNext = document.querySelector('.next');
    const dotsSlide = document.querySelector('.dots-container');
    let currentSlide = 0;
  
    const activeDot = function (slide) {
        document.querySelectorAll('.dot').forEach(dot => dot.classList.remove('active'));
        document.querySelector(`.dot[data-slide="${slide}"]`).classList.add('active');
    };
    activeDot(currentSlide);

    const changeSlide = function (slides) {
        carouselSlides.forEach((slide, index) => (slide.style.transform = `translateX(${100 * (index - slides)}%)`));
    };
    changeSlide(currentSlide);

    btnNext.addEventListener('click', function () {
        currentSlide++; 
        if (carouselSlides.length - 1 < currentSlide) {
            currentSlide = 0;
        };
        changeSlide(currentSlide);
        activeDot(currentSlide);
});
    btnPrev.addEventListener('click', function () {
        currentSlide--;
        if (0 >= currentSlide) {
            currentSlide = 0;
        }; 
        changeSlide(currentSlide);
        activeDot(currentSlide);
    });

    dotsSlide.addEventListener('click', function (e) {
        if (e.target.classList.contains('dot')) {
            const slide = e.target.dataset.slide;
            changeSlide(slide);
            activeDot(slide);
        }
    });
  };
Slider();

</script>






<!-- New Comment Modal -->




<!-- Make a comment -->



<div class="testimonial-box modal no-hover" style="display:none;">


<!-- Close button -->

<h5 style="margin-top: -5px;  text-transform: none; text-align: right; word-spacing: auto; margin-right: 10px">
    <!-- <i class="fa-solid fa-circle-xmark" style="font-size:20px"></i> -->
    <i class="fa-solid fa-circle-xmark" style="font-size:20px" onclick="document.querySelector('.testimonial-box.modal').style.display = 'none'"></i>
</h5>



<!-- Start form for sending data -->

<form action="" method = POST enctype="multipart/form-data">
               {% csrf_token %}





  <textarea style="width: 590px; height: 300px; font-size: 20px; color: black; font-weight: 50px; text-align: left; line-height: 1.4; overflow: auto; padding: 10px; font-family: sans-serif;" placeholder="Type up your comment" id="comment" name = "comment" maxlength = "1000"></textarea>



<div id="text-count" style="float: right; margin-right: 20px;">1000 letters left</div>

<br><br>

<div style="text-align:center;">
<button class="btn-ghost btn-round" type="submit"> Submit </button>
</div>


<!-- Showing the user how many chars they have left -->



<script>
  var inputField = document.getElementById('comment');
  var charCount = document.getElementById('text-count');

  inputField.addEventListener('input', function() {
    var charactersEntered = this.value.length;
    var charactersLeft = 1000 - charactersEntered;
    charCount.textContent = charactersLeft + ' letters left';
  });
</script>





</div>









        <!-- ========== Scripts ========== -->

        <script src="static/js/vendor/jquery-2.1.4.min.js"></script>
        <script src="static/js/vendor/google-fonts.js"></script>


        <script src="static/js/vendor/bootstrap.min.js"></script>


        <!-- The main JS stuff -->
        <script src="static/js/main.js"></script>



<script src="https://use.fontawesome.com/releases/v5.15.4/js/all.js"></script>



<script type="text/javascript">
  
const favoriteButtons = document.querySelectorAll(".favorite-button");
favoriteButtons.forEach((button) => {
  button.addEventListener("click", (event) => {
    event.currentTarget.classList.toggle("is-favorite");
  });
});

  
</script>











<!-- Slideshow JS -->


  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/gsap/1.19.1/TweenMax.min.js'></script><script  src="static/js/slideshow.js"></script>


    </body>
</html>
